::deep .device-fieldset.rz-fieldset {
    border: none;
    margin: 0;
}

::deep .device-fieldset .rz-fieldset-legend {
    padding-left: 0;
    padding-right: 0;
}

::deep .device-fieldset .rz-fieldset-content {
    padding: 0;
}