.stepper-config-grid {
  display: grid;
  grid-template:
    "name ." 1fr
    "port ." 1fr
    "simulated ." 1fr
    "properties ." auto
    / auto 40px
}

.stepper-property-grid {
  grid-area: properties;
  grid-template-columns: 1fr 1fr;
}

.stepper-max-acceleration {
  grid-column: 0;
}

.stepper-max-deceleration {
  grid-column: 1;
}

.stepper-starting-speed {
  grid-column: 0;
}

.stepper-max-speed {
  grid-column: 1;
}

.stepper-custom-step-size {
  grid-column: 0;
}

.stepper-step-mode {
  grid-column: 1;
}

.stepper-name {
  grid-area: name;
}

.stepper-port {
  grid-area: port;
}

.stepper-id {
  grid-area: id;
}

.stepper-simulated {
  grid-area: simulated;
}