.device-settings-grid {
  display: grid;
  background: rgba(224, 255, 255, 0.1);
  padding: 10px;
  /*border: 1px solid rgba(224, 255, 255, 0.3);*/
  border-radius: 5px;
  grid-template:
    "name status actions" auto
    "separator separator separator" auto
    "content content content" auto
    / 1fr 1fr auto;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.7);
}

.device-settings-content {
  grid-area: content;
}

.device-status {
  grid-area: status;
  font-size: 0.75em;
}

.device-status .device-status-active {
    color: green;
  }

.device-status .device-status-inactive {
    color: grey;
  }

.device-status .device-status-error {
    color: darkred;
  }

.device-settings-name {
  grid-area: name;
}

.device-settings-actions {
  grid-area: actions;
  justify-self: right;
}

.device-settings-separator {
  grid-area: separator;
  margin: 5px;
}

.device-action-button {
  margin: 0 2px;
}
