.pump-property-grid {
  display: grid;
  grid-template:
    "name ." 1fr
    "port ." 1fr
    "simulated ." 1fr
    "address ." 1fr
    / auto 40px
}

.pump-name {
  grid-area: name;
}

.pump-port {
  grid-area: port;
}

.pump-id {
  grid-area: id;
}

.pump-simulated {
  grid-area: simulated;
}

.pump-address {
  grid-area: address;
}
