.mfc-container {
  display: grid;
  grid-template: "header"
                 "state"
                 "valve-control"
                 "status-codes" 1fr
                 / auto;
}

.mfc-gas {
  grid-area: header;
  font-size: 1.5em;
  font-weight: bolder;
}

.mfc-title {
  grid-area: header;
  align-self: start;
  justify-self: center;
  font-weight: bold;
}

.mfc-state {
  grid-area: state;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  align-items: center;
}

.mfc-temperature {
  grid-row: 1;
}

.mfc-absolute-pressure {
  grid-row: 2;
}

.mfc-volumetric-flow {
  grid-row: 3;
}

.mfc-mass-flow {
  grid-row: 4;
}

.mfc-id {
  grid-area: header;
  justify-self: end;
  font-size: .85em;
}

.mfc-setpoint {
  grid-row: 6;
}

.mfc-setpoint-control {
  grid-row: 7;
}

.mfc-valve-drive {
  grid-row: 5;
}

.mfc-setpoint-input {
  max-width: 100px;
  justify-self: stretch;
}

.mfc-valve-hold {
  grid-area: valve-hold;
}

.field-descriptor {
  font-size: 0.8em;
  opacity: 0.8;
}

.valve-control {
  grid-area: valve-control;
  border: 1px solid rgba(224, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.3);
}

.valve-legend {
  font-size: 0.8em;
}

.status-codes {
  grid-area: status-codes;
  align-items: center;
}

.valve-control-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 36px;
  grid-column-gap: 5px;
}

.button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status-display {
  border: 2px solid orange;
  font-weight: bold;
}