.mfc-property-grid {
  display: grid;
  grid-template:
    "name ." 1fr
    "port ." 1fr
    "simulated ." 1fr
    "id spinner" 1fr
    "type ." 1fr
    "valve ." 1fr
    / auto 40px
}

.mfc-name {
  grid-area: name;
}

.mfc-port {
  grid-area: port;
}

.mfc-id {
  grid-area: id;
}

.mfc-type {
  grid-area: type;
}

.mfc-simulated {
  grid-area: simulated;
}

.mfc-valve {
  grid-area: valve;
}

.mfc-spinner {
  grid-area: spinner;
  align-self: center;
  justify-self: center;
}